header{
    background: #119DA4;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* responsividade */
@media only screen and (max-width: 1200px) {
    header {
        padding: 5px;
    }
}

@media only screen and (max-width: 320px) {
    header {
        justify-content: center;
    }
}