header{
    display: flex;
    justify-content: flex-end;
    background: #119DA4;
    width: 100%;
}

div.headerLogadoMenu {
    display: flex;
    width: 50vw;
    justify-content: flex-end;
    padding: 1.5rem .75rem;
}


div.headerLogadoItens {
    display: flex;
    justify-content: center;
}

div.headerLogadoMenu div.headerLogadoItens img {
    max-width: 48px;
    max-height: 52px;
    width: 100%;
    height: 100%;
    margin: 0 3.5rem;
}



div.headerLogadoItens button{
    width: 8.75rem;
    height: 3.5rem; 
    border: none;
    border-radius: 1rem;
    font-size: 1.7rem;
}