.sessao-login {
    max-height: 100vh;
    max-width: 100vw;
    margin: 50px;

	display: flex;
    flex-direction: row;
	justify-content: center;
    align-items: center;	
}

.sessao-login-img {
	border-radius: 20px 0px 0px 20px;
}

.login-usuario {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 452px;
	height: 560px;
	background: #ffffff;
	box-shadow: 0px 0px 7px 3px rgba(130, 130, 130, 0.1);
	border-radius: 0px 20px 20px 0px;
	text-align: center;
}

.login-usuario h2 {
	font-family: "Lato";
	font-size: 30px;
	line-height: 36px;
	color: #119da4;
}

.login-usuario hr {
	width: 352px;
	border-top: 2px solid #8e9798;
	opacity: 0.3;
	margin-top: 42px;
}

.botao-login {
    font-family: "Arvo";
    color: #f8f8f8;
    background: #119da4;
	border: 1px solid #119da4;
	border-radius: 10px;

    margin: 10px 0px;
	width: 290px;
	height: 50px;

    transition: 0.3s;
}


.botao-login:hover {
    color: #119da4;
    background-color: #f8f8f8;
}

.input-login {
    position:relative;
    margin-top: 10px;
}

.input-login img {
	position: absolute;
	box-sizing: border-box;
	top: 50%;
	left: 8px;
    transform: translateY(-50%);
}

.input-login input {
    font-family: "Arvo";
    background: #ffffff;
	border: 1px solid #8e9798;
	border-radius: 10px;

    width: 290px;
	height: 50px;
    padding: 0 32px;
}

.input-login::placeholder {
    color: #8e9798;
}

.login-usuario p {
    font-family: "Lato";
	font-size: 20px;
	font-weight: 600;
	margin: 30px auto;
}

.botao-cadastrar {
    width: 352px;
	height: 45px;

    color: #119da4;
    background-color: #f8f8f8;
	border: 2px solid #119da4;
    border-radius: 10px;

    transition: 0.3s;
}

.botao-cadastrar:hover {
    color: #f8f8f8;
    background-color: #119da4;
}

/* responsividade */
@media only screen and (max-width: 1200px) {

    .sessao-login-img, .login-usuario {
        max-width: 650px;
        max-height: 455px;
    }

    .botao-cadastrar {
        max-width: 320px;
    }

    .login-usuario hr {
        margin-top: 32px;
        margin-bottom: 0;
    }

    .login-usuario p {
        margin: 24px;
    }
}

@media only screen and (max-width: 1024px) {
    .sessao-login-img, .login-usuario {
        max-width: 550px;
        max-height: 385px;
    }

    .login-usuario hr {
        margin-top: 24px;
        margin-bottom: 0;
    }

    .login-usuario p {
        margin: 12px;
    }
}

@media only screen and (max-width: 720px) {
    .sessao-login {
        flex-direction: column;
        justify-content: center;
        gap: 28px;
    }

    .sessao-login-img, .login-usuario {
        border-radius: 20px;
        max-width: 452px;
        max-height: 455px;
    }

    .login-usuario hr {
        margin-top: 32px;
        margin-bottom: 0;
    }

    .login-usuario p {
        margin: 24px;
    }
}

@media only screen and (max-width: 320px) {
    .sessao-login {
        gap: 16px;
    }

    .sessao-login-img, .login-usuario {
        max-width: 300px;
        max-height: 385px;
    }

    .login-usuario {
        margin-bottom: 12px;
    }

    .login-usuario h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        margin-top: 12px;
    }

    .input-login {
        margin-top: 8px;
    }

    .input-login input, .botao-login {
        width: 260px;
    }

    .login-usuario hr {
        margin-top: 12px;
        margin-bottom: 0;
    }

    .login-usuario p {
        margin: 12px;
    }

    .botao-cadastrar {
        max-width: 260px;
        margin-bottom: 12px;
    }
}