#container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	margin: 50px auto;
}

#card-foto {
	max-height: 887px;
	border: 1px solid white;
	border-radius: 20px;
}

#card-form {
    max-height: 887px;
}

#foto {
}
