main.containerFormPaciente {
    width: 70%;
    font-family: "Lato";
}

h2.pacienteTitulo {
    display: flex;
    width: 100%;
    color: black;
    margin: 35px 0;
}

div.formPaciente {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    width: 100%;
    margin-top: 45px;
    text-align: left;
}

div.formPaciente label {
    color: #6C6D6D;
    margin-bottom: 2px;
}

div.formPaciente input, div.formPaciente textarea {
    margin-top: 0 !important;
    margin-bottom: 12px;
}

form.infoEsq {
    display: flex;
    flex-direction: column;
    width: 50%;
}

form.infoDir {
    width: 30rem;
    display: flex;
    flex-direction: column;

}

input, textarea {
    border: .5px solid black;
    border-radius: 10px;
    padding:0.4rem 0.5rem;
}

form.infoEsq input{
    margin-top: 1vh;
}

form.infoEsq label{
    margin-top: 1vh;
}

div.divPacienteNome input{
    width: 30vw;
}

div.divPacienteCpf input{
    width: 20vw;
}

div.divPacienteEmail input{
    width: 21vw;
}

div.divPacienteRua input{
    width: 21vw;
}

div.divPacienteBairro input{
    width: 21vw;
}

div.divPacienteObservacoes textarea{
    width: 30vw;
    height: 15vh;
}


div.divPacienteTelefone input{
   width: 21vw;
}

div.divNumeroComplemento {
    display: flex;
    
 }
div.divPacienteNumero {
    margin-right: 2rem;
}

div.divPacienteNumero input{
    width: 6rem;
}

div.divPacienteComplemento input{
    width: 16rem;
}

div.divPacienteCidade input{
    width: 19rem;
}

form.infoDir input{
    margin-top: 1vh;
}

form.infoDir label{
    margin-top: 1vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.botoes-pacientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.botoes-pacientes button {
    font-family: "Lato";
    color: #F8F8F8;

    text-decoration: none;
    border-radius: 10px;

    width: 217px;
    height: 50px;

    margin: 32px 0;

    transition: 0.3s;
}

.botoes-pacientes-cancelar {
    background-color: #FF4343;
    border: 1px solid #FF4343;
}

.botoes-pacientes-cancelar:hover {
    background-color: #F8F8F8;
    color: #FF4343;
}

.botoes-pacientes-inserir {
    background-color: #35D675;
    border: 1px solid #35D675;
}

.botoes-pacientes-inserir:hover {
    background-color: #F8F8F8;
    color: #35D675;
}