.info-pacientes {
    padding: 10px 0 0 50px;
}

.container{
    max-width: 1424px;
    margin: auto;
}

h2{
    font-size: 25px;
    font-weight: 400;
}

.historico-img{
    display: flex;
    justify-content: space-between;
}

.pontos{
    width: 24px;
    height: 5px;
    position: relative;
    right: 40px;
    top: 25px;
}
