main.containerNovoAtendimento {
    width: 70%;
}

h2.novoAtendimentoTitulo {
    display: flex;
    width: 100%;
    color: black;
    margin: 35px 0;
}

div.novoAtendimentoForm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 45px;
    text-align: left;
}

form.NovoAtendimentoEsq {
display: flex;
flex-direction: column;
width: 50%;
}

form.NovoAtendimentoDir{
    display: flex;
    flex-direction: column;
    width: 50%;
}

form.NovoAtendimentoEsq input {
    margin-top: 1vh;
}

form.NovoAtendimentoEsq textarea {
    margin-top: 1vh;
}

form.NovoAtendimentoDir textarea {
    margin-top: 1vh;
}

form.NovoAtendimentoEsq label {
    margin-top: 2vh;
}

div.divNovoPacienteNome input {
    width: 30vw;
}

div.divNovoNomeDentista input {
    width: 25vw;
}

div.divDataHora {
    display: flex;
}


div.divNovaData{
    margin-right: 4rem;
}

div.divNovoAtendimentoObservacoes textarea{
    width: 30vw;
    height: 15vh;
}

div.divNovoAtendimentoAnotacoes textarea{
    width: 30vw;
    height: 37vh;
}

div.novoAtendimentoButtons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
}

button.buttonCancelar {
    border-style: none;
    background-color: #FF4343;
    color: white;
    border-radius: 10px;
    width: 13vw;
    font-size: 1.25rem;   
}

button.buttonEnviar {
    border-style: none;
    background-color: #119DA4;
    color: white;
    border-radius: 10px;
    width: 13vw;
    height: 5vh;
    font-size: 1.25rem;   
}

@media only screen and (max-width: 720px) {

    .novoAtendimentoForm {
        flex-direction: column;
        gap: 12px;
    }

    form.NovoAtendimentoEsq, div.divNovoPacienteNome input, div.divNovoNomeDentista input, div.divNovoAtendimentoObservacoes textarea, div.divNovoAtendimentoAnotacoes textarea, form.NovoAtendimentoDir {
        max-width: 608px;
        width: 100%;
    }

    div.divDataHora {
        display: flex;
        justify-content: space-evenly;
    }

    div.divNovoAtendimentoAnotacoes textarea, div.divNovoAtendimentoObservacoes textarea {
        height: 128px;
    }

}

@media only screen and (max-width: 320px) {

    div.divNovaData{
        margin-right: 12px;
    }

}
